<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <script src="javascripts/three.js"></script>
  <script src="javascripts/controls/PointerLockControls.js"></script>
</head>

<body>
  <div id="blocker">
    <div id="instructions">
      <span style="font-size:40px">Reči u magli</span>
      <br /> (W, A, S, D = Pomeraj, SPACE = Skoči, MOUSE = Gledaj okolo)
      <br />Ica &amp; Marko
    </div>
  </div>
  <script src="javascripts/invite74.js"></script>
</body>

</html>